[mapping]
# RazerS3 absolute binary path
razers3=/path/to/razerS3
threads=16

[ilp]
# Note: the solver has to be supported by Coopr
solver=glpk
threads=1

[behavior]
#tempdir=/path/to/tempdir  # we'll enable this setting later

# Deletes intermediate bam files produced by the read mapper after finishing.
deletebam=true

# Stores the hit matrix (or matrices if paired-end) built from the all-mapped
# bam file in HDF5 format in the results folder. Strongly suggested if the
# sample might be subjected to re-analysis with different settings, as it spares
# the expensive read mapping and bam loading steps.
#store_hitmx=false  # we'll enable this setting later

# In paired-end mode one might want to use reads with just one mapped end (e.g.,
# the other end falls outside the reference region). This setting allows the
# user to keep them with an optionally reduced weight.
# [0: discarded, 1: as valuable as a paired read]
unpaired_weight=0.2  # we'll enable this setting later

# Reads with their two ends best-mapping to two disjoint sets of alleles can be
# either omitted (default) or either of their ends treated as unpaired hits.
use_discordant=false